/* SMARTBUDGET - VARIABLES GLOBALES*/

$color-primary:       #2e1065; // Morado oscuro profundo
$color-secondary:     #6d28d9; // Violeta vibrante
$color-accent:        #a78bfa; // Malva / Lila suave
$color-bg-light:      #faf5ff; // Blanco lavanda muy tenue
$color-text-dark:     #1e1b4b; // Azul/Morado oscuro
$color-text-muted:    #5b21b6; // Morado medio
$color-white:         #ffffff;

$font-titles:         'Playfair Display', serif;
$font-base:           'Montserrat', sans-serif;

$font-size-base:      1rem;       
$font-size-lg:        1.25rem;    
$font-size-xl:        2.5rem;